﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.navbar-collapse {
    flex-basis: 100%;
    justify-content: flex-end;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin-left: 1rem;
}

.nav-link {
    font-size: 1.2rem;
    transition: color 0.3s; 
}

    .nav-link:hover {
        color: #1b6ec2;
    }

/* Login/Register/Logout Links */
.nav-item a {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.nav-item form {
    display: inline-block;
}
