﻿@page
@model FinalProjectPRN221.Pages.Statistic.OrderDetailModel

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
        color: #333;
    }

    h1, h2 {
        color: #333;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tbody tr:hover {
        background-color: #f5f5f5;
    }

    p {
        color: #777;
        font-style: italic;
        margin-top: 20px;
    }

    span.paid {
        color: green;
        font-weight: bold;
    }

    span.not-paid {
        color: red;
        font-weight: bold;
    }
</style>

<h1>Order Details</h1>

<p>Order ID: @Model.Order.OrderId</p>
<p>Salesman: @Model.Order.User.Username</p>
<p>Sale Date: @Model.Order.OrderDate</p>
<p>Total Amount: @Model.Order.TotalAmount</p>
<p>
    Status: @if (Model.Order.IsPaid == "1")
    {
        <span class="paid">Paid</span>
    }
    else
    {
        <span class="not-paid">Not Paid</span>
    }
</p>

<h2>Order Items</h2>
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderDetail in Model.OrderDetails)
        {
            <tr>
                <td>@orderDetail.Product.ProductName</td>
                <td>@orderDetail.Quantity</td>
                <td>@orderDetail.UnitPrice</td>
                <td>@(orderDetail.Quantity * orderDetail.UnitPrice)</td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="/Statistic/OrderStatistics">Back to Order Statistics</a>