﻿@page
@model FinalProjectPRN221.Pages.Statistic.OrderStatisticsModel

@{
    ViewData["Title"] = "Order Statistics";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Order Statistics</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
            margin: 0;
        }

        h1, h2, h3 {
            color: dodgerblue;
            text-align: center;
        }

        div {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
        }

            div > div {
                width: 30%;
                padding: 15px;
                background-color: #fff;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                margin: 10px;
            }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tbody tr:hover {
            background-color: #f5f5f5;
        }

        form {
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        label, input, select, button {
            margin: 5px;
        }

        button {
            background-color: dodgerblue;
            color: #fff;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
        }

            button:hover {
                background-color: #007bb5;
            }

        .btn-container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

            .btn-container a {
                padding: 10px 15px;
                text-decoration: none;
                color: #fff;
                background-color: dodgerblue;
                border-radius: 5px;
            }

                .btn-container a:hover {
                    background-color: #007bb5;
                }
    </style>
</head>

<body>

    <h1>Sales Statistics</h1>
    <div>
        <div>
            <h3>Total</h3>
            <p>
                <strong>Total Orders:</strong> @Model.TotalOrders
                <br />
                <strong>Total Revenue:</strong> @Model.TotalRevenue
            </p>
        </div>
        <div>
            <h3>Highest</h3>
            @if (Model.HighestOrder != null)
            {
                <p>
                    <strong>Id:</strong> @Model.HighestOrder.OrderId
                    <br />
                    <strong>Price: </strong> @Model.HighestOrder.TotalAmount
                </p>
            }
            else
            {
                <p>No highest order found.</p>
            }
        </div>
        <div>
            <h3>Lowest</h3>
            @if (Model.LowestOrder != null)
            {
                <p>
                    <strong>Id:</strong> @Model.LowestOrder.OrderId
                    <br />
                    <strong>Price:</strong> @Model.LowestOrder.TotalAmount
                </p>
            }
            else
            {
                <p>No lowest order found.</p>
            }
        </div>
    </div>
    <form method="get" asp-page="OrderStatistics">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate">

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate">

        <label for="salesman">Salesman:</label>
        <input type="text" id="salesman" name="salesman">

        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="">All</option>
            <option value="Paid">Paid</option>
            <option value="NotPaid">Not Paid</option>
        </select>

        <button type="submit">Filter</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Salesman</th>
                <th>Sale Date</th>
                <th>Total Amount</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.OrderStatistic)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>@order.User.Username</td>
                    <td>@order.OrderDate</td>
                    <td>@order.TotalAmount</td>
                    <td>
                        @if (order.IsPaid == "1")
                        {
                            <span style="color: green;">Paid</span>
                        }
                        else
                        {
                            <span style="color: red;">Not Paid</span>
                        }
                    </td>
                    <td>
                        <a asp-page="OrderDetail" asp-route-id="@order.OrderId">View Details</a> <!-- Liên kết đến trang chi tiết đơn hàng -->
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="btn-container">
        @{
            var prevDisabled = Model.OrderStatistic != null && !Model.OrderStatistic.HasPreviousPage ? "disabled" : "";
            var nextDisabled = Model.OrderStatistic != null && !Model.OrderStatistic.HasNextPage ? "disabled" : "";
        }

        <a asp-page="./OrderStatistics"
       asp-route-pageIndex="@(Model.OrderStatistic?.PageIndex - 1 ?? 1)"
       asp-route-startDate="@(Model.StartDate?.ToString("yyyy-MM-dd"))"
       asp-route-endDate="@(Model.EndDate?.ToString("yyyy-MM-dd"))"
       asp-route-salesman="@Model.Salesman"
       asp-route-status="@Model.Status"
       class="btn btn-primary @prevDisabled">
        Prev
    </a>
    <a asp-page="./OrderStatistics"
       asp-route-pageIndex="@(Model.OrderStatistic?.PageIndex + 1 ?? 1)"
       asp-route-startDate="@(Model.StartDate?.ToString("yyyy-MM-dd"))"
       asp-route-endDate="@(Model.EndDate?.ToString("yyyy-MM-dd"))"
       asp-route-salesman="@Model.Salesman"
       asp-route-status="@Model.Status"
       class="btn btn-primary @nextDisabled">
        Next
    </a>
    </div>
</body>

</html>