﻿@page
@model FinalProjectPRN221.Pages.Statistic.ProductsSaleModel
@{
    ViewData["Title"] = "Product Sales Statistics";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Product Sales Statistics</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }

        h1, h2 {
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tbody tr:hover {
            background-color: #f5f5f5;
        }

        .best-selling {
            color: green;
        }

        .least-selling {
            color: red;
        }

        p {
            color: #777;
            font-style: italic;
            margin-top: 20px;
        }
    </style>
</head>
<body>

    <h1>Product Sales Statistics</h1>

    <!-- Display the table of product sales -->
    <table>
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Total Quantity Sold</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productSale in Model.Products)
            {
                <tr>
                    <td>@productSale.ProductId</td>
                    <td>@productSale.ProductName</td>
                    <td>
                        @productSale.StockQuantity
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        var prevDisabled = Model.Products != null && !Model.Products.HasPreviousPage ? "disabled" : "";
        var nextDisabled = Model.Products != null && !Model.Products.HasNextPage ? "disabled" : "";
    }

    <a asp-page="/Statistic/ProductsSale"
       asp-route-pageIndex="@(Model.Products?.PageIndex - 1 ?? 1)"
       class="btn btn-primary @prevDisabled">
        Prev
    </a>
    <a asp-page="/Statistic/ProductsSale"
       asp-route-pageIndex="@(Model.Products?.PageIndex + 1 ?? 1)"
       class="btn btn-primary @nextDisabled">
        Next
    </a>
    <!-- Display information about the best-selling product -->
    <h2>Best-Selling Product</h2>
    @if (Model.BestSellingProduct != null)
    {
        <p>
            <strong>Product ID:</strong> @Model.BestSellingProduct.ProductId
            <br />
            <strong>Product Name:</strong> @Model.BestSellingProduct.ProductName
            <br />
            <strong>Total Quantity Sold:</strong> @Model.BestSellingProduct.StockQuantity
        </p>
    }
    else
    {
        <p>No best-selling product found.</p>
    }

    <!-- Display information about the least-selling product -->
    <h2>Least-Selling Product</h2>
    @if (Model.LeastSellingProduct != null)
    {
        <p>
            <strong>Product ID:</strong> @Model.LeastSellingProduct.ProductId
            <br />
            <strong>Product Name:</strong> @Model.LeastSellingProduct.ProductName
            <br />
            <strong>Total Quantity Sold:</strong> @Model.LeastSellingProduct.StockQuantity
        </p>
    }
    else
    {
        <p>No least-selling product found.</p>
    }

</body>
</html>