﻿@page "{id}"
@model FinalProjectPRN221.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Product Details";
}

<h1>Product Details</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Product Information</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Product ID:</dt>
            <dd class="col-sm-9">@Model.Product?.ProductId</dd>

            <dt class="col-sm-3">Product Name:</dt>
            <dd class="col-sm-9">@Model.Product?.ProductName</dd>

            <dt class="col-sm-3">Description:</dt>
            <dd class="col-sm-9">@Model.Product?.Description</dd>

            <dt class="col-sm-3">Stock quantity:</dt>
            <dd class="col-sm-9">@Model.Product?.StockQuantity</dd>

            <dt class="col-sm-3">Price:</dt>
            <dd class="col-sm-9">@Model.Product?.Price</dd>

            <dt class="col-sm-3">Category:</dt>
            <dd class="col-sm-9">@Model.Product?.Category.CategoryName</dd>

            <dt class="col-sm-3">Supplier:</dt>
            <dd class="col-sm-9">@Model.Product?.Supplier.SupplierName</dd>

            <dt class="col-sm-3">Manufacturing Date:</dt>
            <dd class="col-sm-9">@Model.Product?.ManufacturingDate</dd>

            <dt class="col-sm-3">Expiration Date:</dt>
            <dd class="col-sm-9">@Model.Product?.ExpirationDate</dd>
        </dl>
    </div>
</div>

<div class="mt-3">
    <a asp-page="./Edit" asp-route-id="@Model.Product?.ProductId" class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>