﻿@page
@model FinalProjectPRN221.Pages.Products.IndexModel
@{
}

<h1 style="text-align:center; color:blue">List of Products</h1>
<br />
<h4 style="text-align: center;color:blue">Filter</h4>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<div style="margin: 20px 40px;padding: 20px; width:100%; text-align:center; display:flex">
    <form method="get" style="display:flex; justify-content:center; width:60%">
        <div style="width:30%; margin:auto">
            <label>By Categories</label>
            <select name="categoryId" class="form-control">
                <option value="0">All</option>
                @foreach (var category in Model.ListOfCategory)
                {
                    <option value="@category.CategoryId">@category.CategoryName</option>
                }
            </select>
            <button style="text-align:center" type="submit" class="btn btn-primary">Filter</button>
        </div>
        <div style="width:30%; margin:auto">
            <label>By suppliers</label>
            <select name="supplierId" class="form-control">
                <!-- Thêm trường tìm kiếm cho nhà cung cấp -->
                <option value="0">All Suppliers</option>
                @foreach (var supplier in Model.ListOfSuppliers)
                {
                    <option value="@supplier.SupplierId">@supplier.SupplierName</option>
                }
            </select>
            <button style="text-align:center" type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>

    <form asp-page="./Index" method="get">
        <div class="form-actions no-color" style="width:30%; margin-left: 120px; margin-top:20px;">
            <p>
                Find by name
                <input type="text" name="SearchString" value="@Model.CurrentFilter"
                       style="border: 1px solid #ccc" />
                <input type="submit" value="Search" class="btn btn-primary" />
            </p>
        </div>
    </form>
</div>
<div style="margin: 20px 20px">
    <a href="/Products/Create">Add new products</a>
    @if (Model.OrderId.HasValue)
    {
        <a class="btn btn-primary" asp-page="/Products/OrderDetails" asp-route-orderId="@Model.OrderId">
            View Order Details
        </a>
    }
    <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
        <thead style="background-color: #f2f2f2;">
            <tr>
                <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                    <a asp-page="./Index" asp-route-sortOrder="@Model.IdSort"
                       asp-route-currentFilter="@Model.CurrentFilter">
                        @Html.DisplayNameFor(model => model.Products[0].ProductId)
                    </a>
                </th>
                <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                    <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                       asp-route-currentFilter="@Model.CurrentFilter">
                        @Html.DisplayNameFor(model => model.Products[0].ProductName)
                    </a>
                </th>
                <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Image</th>
                <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Price</th>
                <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">StockQuantity</th>

                @*<th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Description</th>*@
                @*                    <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Category</th>
                <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Supplier</th>*@
                @*<th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">ManufacturingDate</th>*@
                <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                    <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                       asp-route-currentFilter="@Model.CurrentFilter">
                        @Html.DisplayNameFor(model => model.Products[0].ExpirationDate)
                    </a>
                </th>
                <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Products != null)
            {
                @foreach (var product in Model.Products)
                {
                    <tr style="border: 1px solid #dddddd;">
                        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">@product.ProductId</td>
                        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">@product.ProductName</td>
                        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                            <img src="@product.ImageUrl" alt="Product Image" style="max-width: 100px; max-height: 100px;" />
                        </td>
                        @*<td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">@product.Description</td>*@
                        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">@product.Price</td>
                        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                            @product.StockQuantity
                            @if (product.StockQuantity <= 5)
                            {
                                <span style="color: red; font-weight: bold;">(Low stock!)</span>
                            }
                        </td>
                        @*<td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">@product.Category.CategoryName</td>
                <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">@product.Supplier.SupplierName</td>*@
                        @*<td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">@product.ManufacturingDate</td>*@
                        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">@product.ExpirationDate</td>

                        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                            <a href="/Products/Edit/@product.ProductId">Edit</a>
                            <a href="/Products/Index?handler=Delete&productId=@product.ProductId">Delete</a>
                            <a href="/Products/Details/@product.ProductId">Detail</a>
                        </td>
                        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                            <form method="post" asp-page-handler="AddToOrder">
                                <input type="hidden" name="productId" value="@product.ProductId" />
                                <button type="submit" class="btn btn-primary">Add to Order</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <a asp-page="./Index">Back to full list</a>

</div>
@{
    var prevDisabled = Model.Products != null && !Model.Products.HasPreviousPage ? "disabled" : "";
    var nextDisabled = Model.Products != null && !Model.Products.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Products?.PageIndex - 1 ?? 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Prev
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Products?.PageIndex + 1 ?? 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>



