﻿@page
@model FinalProjectPRN221.Pages.Products.OrderDetailsModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Order Details</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }

        h1 {
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tbody tr:hover {
            background-color: #f5f5f5;
        }

        p {
            color: #777;
            font-style: italic;
            margin-top: 20px;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
    <script>
        function updateQuantity(index, operation) {
            var quantityInput = document.getElementById('quantity_' + index);
            var totalElement = document.getElementById('total_' + index);
            var unitPriceElement = document.getElementById('unitPrice_' + index);

            var currentQuantity = parseInt(quantityInput.value);
            var unitPrice = parseFloat(unitPriceElement.innerText);

            if (operation === 'increase') {
                quantityInput.value = currentQuantity + 1;
            } else if (operation === 'decrease' && currentQuantity > 1) {
                quantityInput.value = currentQuantity - 1;
            } else if (operation === 'update') {
                // Cập nhật số lượng (gọi hàm để lưu vào cơ sở dữ liệu)
                updateQuantityInDatabase(index, currentQuantity);
            }

            // Cập nhật giá trị unitPrice và total
            unitPriceElement.innerText = unitPrice;
            totalElement.innerText = (currentQuantity * unitPrice);

            // (Optional) Gọi hàm để cập nhật tổng tiền
            updateTotalAmount();
        }
        
        function updateTotalAmount() {
            var totalAmountElement = document.getElementById('totalAmount');
            var totalAmount = 0;

            document.querySelectorAll('.totalPrice').forEach(function (element) {
                totalAmount += parseFloat(element.innerText);
            });

            totalAmountElement.innerText = totalAmount;
        }

    </script>
</head>
<body>

    <h1>Order Details</h1>

    @if (Model.OrderItems != null && Model.OrderItems.Any())
    {
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.OrderItems.Count; i++)
                {
                    var item = Model.OrderItems[i];
                    <tr>
                        <td>@item.Product.ProductName</td>
                        
                        <form method="post" asp-page-handler="UpdateQuantity" asp-route-productId="@item.ProductId" asp-route-orderId="@Model.OrderId">
                        <td>
                            <button onclick="updateQuantity(@i, 'decrease')">-</button>
                            <input type="number" name="newQuantity" id="quantity_@i" value="@item.Quantity" />
                            <button onclick="updateQuantity(@i, 'increase')">+</button>
                        </td>
                        <td id="unitPrice_@i">@item.UnitPrice</td>
                        <td class="totalPrice" id="total_@i">@(item.Quantity * item.UnitPrice)</td>
                        </form>
                        <form method="post" asp-page-handler="DeleteProduct" asp-route-productId="@item.ProductId">
                        <td>
                            <input type="submit" value="Xóa" />
                        </td>
                        </form>
                        
                    </tr>
                }
            </tbody>
        </table>
        <div style="display: flex; float:right;">
            <p>Total Amount: </p>
            <p id="totalAmount">@Model.OrderItems.Sum(item => item.Quantity * item.UnitPrice)</p>
        </div>
        <form method="post" asp-page-handler="ProcessPayment" asp-route-orderId="@Model.OrderId">
            <button type="submit" class="btn btn-success">Proceed to Payment</button>
        </form>
    }
    else
    {
        <h5 style="color:red">@TempData["Message"]</h5>
        <p>This order is empty.</p>
    }

    <a asp-page="/Products/Index">Back to Product List</a>

</body>
</html>